@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root {
    --sticky-1-color: #c0ed38;
    --sticky-2-color: #ff59ee;
    --sticky-3-color: #34b6ff;
    --sticky-4-color: #01bd1e;
    --sticky-5-color: #a177c3;
    --sticky-6-color: #bf8b1b;
    --add-button-color: #1e8b41;
    --background-color: #dab38c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    word-break: break-all;
}

#board {
    min-height: 100vh;
    background-color: var(--background-color);
    padding: 7rem;
}
#board.disable::after{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #33333387;
}

.add-note {
    position: fixed;
    top: 10px;
    left: 20px;
    padding: 10px 17px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    font-weight: bold;
    background-color: var(--add-button-color);
    color: white;
    cursor: pointer;
    transition: scale .05s ease-in ;
}
.add-note:hover{
    background-color: #029b19 ;
}
.add-note:active{
    scale: 0.95;
}
.note-list{
    display: flex;
    justify-content: space-between;
    align-content: center ;
    flex-wrap: wrap;
}
.note {
    width: 350px;
    padding: 2rem;
    aspect-ratio: 1.5;
    background-color: var(--sticky-1-color);
    color: darkblue;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
    line-height: 2.2rem;
    box-shadow: 3px 5px 25px 3px #0008;
    transform: rotate(-15deg);
    transition: scale 80ms ease-in;
}
.note:hover{
    scale: 1.05;
    z-index: 1;
}
.overlay{
    --box-size:300px;
    position: fixed;
    top: calc((100vh - var(--box-size))/2);
    left: calc((100vw - var(--box-size))/2);
    width:var(--box-size);
    aspect-ratio: 1;
    background-color: white;
    box-shadow: 10px 10px 30px #0008;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.form-nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
}
.form-nav i{
    padding: 0 10px;
    font-size: 30px;
    color:#254e1e;
    border-radius: 50%;
    margin:5px 0 ;
    cursor: pointer;
    transition: scale 80ms ease-in;
    user-select: none;
}
.form-nav i:active{
    scale: .95;
}
#close{
    color:#502424;
}
textarea{
    width: 100%;
    height: calc(var(--box-size) - 50px) ;
    border:none;
    resize: none;
    font-size: 30px;
    font-family: 'Indie Flower', cursive;
    color:#444;
    padding:0 10px;
    outline: none;
}
.display-none{
    display: none ;
}
.emptyError{
    color: red;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    margin: 0 auto;
    border: 3px dashed red;
    padding: 20px 40px;
    /* position: fixed;
    top: calc(100vh/2);
    left: calc(100vw/2); */
}